beautifulsoup4==4.11.1
brotli==1.0.9
cloudscraper==1.2.60
ConfigParser==5.2.0
cryptography==37.0.2
Cython==0.29.30
dl==0.1.0
HTMLParser==0.0.2
ipaddr==2.2.0
keyring==23.6.0
lxml==4.6.5
numpy==1.22.4
ordereddict==1.1
protobuf==4.21.1
pyOpenSSL==22.0.0
unicode_slugify==0.1.5
wget==3.2
wincertstore==0.2.1
xmlrpclib==1.0.1
youtube_dl==2021.6.6
